<div class="nav-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <a routerLink="" style="text-decoration: none; color: white">
        <span class="app-title">Rankr</span>
      </a>
      <div *ngIf="auth.userProfile$ | async as profile">
        <a routerLink="/profile">
          <img
            [src]="profile.picture"
            alt="Profile picture"
            class="nav-user-profile rounded-circle"
            style="width: 30px"
          />
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
